.chat-view {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
  flex-direction: row;

  .chat {
    width: 100%;
    max-width: 950px;
  }

  .channels {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;

    .channel {
      .avatar {
        margin-right: 8px;
        margin-top: 4px;
        margin-bottom: 4px;
        height: 40px;
        width: 40px;
      }
    }
  }

  .sidebar {
    width: 100%;
    max-width: 350px;
    padding: 8px;
  }
}
