.chat-view {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
  flex-direction: row;

  .chat {
    width: 100%;
    max-width: 950px;
  }

  .channels {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;

    .channel {
      .avatar {
        margin-right: 8px;
        margin-top: 4px;
        margin-bottom: 4px;
        --avatar-size: 40px;
      }
    }
  }

  .sidebar {
    width: 100%;
    max-width: 350px;
    padding: 8px;
  }

  .select-chat {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 24px;
    color: var(--on-background-variant);
  }

  .chat-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    .avatar {
      height: 40px;
      width: 40px;
      margin-right: 8px;
    }
  }

  &:not(.is-small-screen) {
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 8px;
  }
}
