.home-view {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8px;
  box-sizing: border-box;

  .notifications-list {
    overflow: hidden;
    min-height: 397px;
    cursor: pointer;
    .label-container {
      align-items: center;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 6px;
      padding-bottom: 6px;
      .icon {
        @include iconSize(20);
        font-weight: 500;
      }
      .my-button {
        min-height: 30px;
        min-width: 30px;
      }
      .my-button .my-icon {
        @include iconSize(20);
      }
      .label {
        font-size: 15px;
        font-weight: 400;
        user-select: none;
      }
    }
  }

  .profile-menu {
    min-height: 275px;
  }

  .categories,
  .right-column-content {
    width: 100%;
    max-width: 350px;
    height: fit-content;
  }

  .virtual-scroll {
    padding: 8px;
  }

  .center-column {
    height: initial;
    margin-bottom: -8px;
    margin-top: -8px;
  }

  .left-column {
    padding-left: 8px;
    justify-content: flex-end;
    min-width: 0;
  }

  .right-column {
    justify-content: flex-start;
    padding-right: 8px;
    min-width: 0;
  }

  .sticky-label {
    z-index: 1;
    background-color: transparent;
  }

  .categories-label {
    @include elevation(1);
    background-color: var(--card);
    z-index: 1;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 18px;
    transition:
      border-radius 0.1s ease,
      transform 0.3s ease;
    transform: translate3d(0, 0, 0);

    .categories-button {
      width: fit-content;
      border-radius: 10px;
      color: var(--on-card);
    }
    .reload-button {
      margin-right: 8px;
      min-width: 36px;
      min-height: 36px;
      max-height: 36px;
      max-width: 36px;
      .my-icon {
        @include iconSize(22);
        color: var(--on-card);
      }
    }
    &.is-hidden {
      transform: translate3d(0, -150%, 0);
    }
    &.scrolled {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

  &.columns-3 {
    .left-column,
    .right-column,
    .center-column {
      flex: 1;
      display: flex;
      height: 100%;
    }
    .center-column {
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
      min-width: 550px;
    }
  }

  &.columns-2,
  &.columns-1 {
    .left-column,
    .right-column,
    .center-column {
      display: flex;
      justify-content: center;
      height: 100%;
      flex-shrink: 0;
    }

    .center-column {
      width: 100%;
      max-width: 600px;
    }

    .right-column,
    .left-column {
      max-width: 350px;
      flex: 1;
      flex-shrink: 1;
      width: auto;
    }
  }

  @media (max-width: 600px) {
    .categories-label {
      margin: 0;
      border-radius: 0;
    }
  }
}
