.my-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;

  .slides-container {
    display: flex;
    transition: transform 0.3s ease;
    height: 400px;
  }

  .slide-element {
    flex: 0 0 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    &.is-empty {
      pointer-events: none;
    }
  }

  &.is-fullscreen {
    .slides-container,
    .slide-element {
      height: 100%;
    }
  }

  .prev-btn,
  .next-btn,
  .fullscreen-btn {
    position: absolute;

    z-index: 10;

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
    &:active {
      opacity: 1;
    }
  }

  .prev-btn {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
  .next-btn {
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
  .fullscreen-btn {
    top: 10px;
    right: 10px;
  }

  @supports (top: env(safe-area-inset-top)) {
    .fullscreen-btn {
      top: calc(10px + env(safe-area-inset-top));
      right: calc(10px + env(safe-area-inset-right));
    }
  }

  .pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
    background-color: var(--background);
    padding: 8px 8px;
    border-radius: 12px;
  }

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--background-variant);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: var(--on-card);
    }
  }

  .dot.active {
    background: var(--primary);
  }

  .control-element {
    opacity: 1;
    transition: opacity 0.18s ease;
    &.hide {
      opacity: 0;
    }
  }

  img {
    pointer-events: none;
    user-select: none;
  }
}
