// Profile menu
.profile-menu {
  .my-icon {
    @include iconSize(24);
  }
}

.profile-menu-component {
  .label {
    font-size: 14px;
    font-weight: 500;
  }

  .username {
    font-size: 12px;
    font-weight: 400;
  }

  .dark-mode {
    display: flex;
    align-items: flex-start;
    .toggle-container {
      position: absolute;
      right: 0;
      margin-right: 16px;
    }
  }

  .open-profile {
    padding-top: 8px;
    padding-bottom: 8px;
    .avatar {
      margin-right: 12px;
      font-weight: 400;
    }
    .label {
      font-weight: 500;
    }
    .text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

// It's obvious that this is a menu arrow
.menu-arrow {
  &.active {
    animation: rotateFrom180To0 0.2s ease-out forwards;
  }
  &:not(.active) {
    animation: rotate180 0.2s ease-out forwards;
  }
}

// Something
.posts-infinite-scroll {
  display: flex;
  flex-direction: column;
}

// "More" button in long texts
.more-btn {
  font-weight: 500;
  margin-left: 8px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.95;
  font-size: 15px;
  color: var(--primary);

  &:hover {
    opacity: 0.8;
  }
}

// Header like "Comments" in posts
.scroll-header {
  transform: translate3d(0, -150%, 0);
  transition:
    transform 0.3s ease,
    visibility 0s 0.3s linear;

  &.is-visible {
    transform: translate3d(0, 0, 0);
  }
}

// Menu like "Languages" in settings
.field-menu {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  &:has(.q-field--focused) {
    outline-color: var(--primary);
  }
  .add-button .my-icon {
    @include iconSize(24);
  }
}

// Row with switch
.toggle-value-row {
  > div {
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
  }
  .container {
    gap: 0px;
  }
  .label {
    font-size: 15px;
    font-weight: 500;
  }
  .description {
    font-size: 14px;
    font-weight: 400;
    color: var(--on-background-variant);
  }
  .icon {
    height: 24px;
    width: 24px;
  }
  .my-icon,
  .icon {
    @include iconSize(24);
  }
}

// MyIcon component
.my-icon {
  line-height: 1;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-align: center;
  position: relative;
  box-sizing: content-box;
  fill: currentColor;
}

.my-icon:before,
.q-icon:after {
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

// Unread notifications count badge
.unread-count {
  background-color: var(--attention);
  color: var(--on-attention);
  border-radius: 16px;
  padding: 0px 6px;
  text-align: justify;
  font-size: 13px;
  font-variant-numeric: tabular-nums;
}

// OkCancelDialog component styles
.ok-cancel-dialog {
  .dialog-content {
    max-width: 500px;
    height: auto;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 18px !important;
    padding: 24px !important;
    background-color: var(--card-high);
  }
  .buttons {
    margin-top: 12px;
    justify-content: flex-end;
    gap: 12px;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    color: var(--on-card);
  }
  .message {
    font-size: 16px;
    font-weight: 400;
    color: var(--on-card);
  }
}

// ReportDialog style
.report-dialog {
  .dialog-content {
    max-width: 500px;
    height: auto;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 18px !important;
    padding: 24px !important;
    background-color: var(--card-high);
  }
  .buttons {
    margin-top: 12px;
    justify-content: flex-end;
    gap: 12px;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    color: var(--on-card);
    margin-bottom: 12px;
  }
  .report-text {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid transparent;
    transition: border-color 0.2s ease-out;
    will-change: border-color;
    &.q-field--focused {
      border-color: var(--primary);
    }
  }
}

// Virtual scroll "No Items" label
.virtual-scroll {
  .no-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    min-height: 200px;
    animation: fadeInUp 0.2s forwards;
    .no-items-label {
      text-align: center;
      font-size: 14px;
      color: var(--on-background-variant);
    }
    .my-icon {
      @include iconSize(22);
      color: var(--on-background-variant);
    }
  }
}
