.q-separator {
  background-color: var(--outline);
}

.q-menu,
.q-select__dialog {
  @include elevation(3);
  outline: 1px solid var(--outline);
  border-radius: 16px;
  background-color: var(--card);
  color: var(--on-card);
  user-select: none;
  .q-item--active {
    color: var(--on-card-secondary);
    background-color: var(--card-secondary);
  }
}

.q-select__dialog .q-field {
  background-color: var(--card);
  .q-field__control {
    background-color: transparent;
  }
}

body.body--dark .q-dialog__backdrop {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(3px);
}

body.body--light .q-dialog__backdrop {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(3px);
}

.q-field:not(.q-select):not(.q-field--outlined) {
  outline: 1px solid var(--contrast-outline) !important;
}

.q-menu .q-field {
  outline: 0 !important;
}

.q-field--focused .q-field__prepend {
  .my-icon {
    color: var(--primary);
  }
}

.q-field--error .q-field__prepend {
  .my-icon {
    color: var(--q-negative);
  }
}
