// User dialog styles
.user-dialog {
  @media (min-width: 630px) {
    .dialog-content {
      max-width: 650px;
      max-height: 750px;
      margin-left: 8px;
      margin-right: 8px;
      border-radius: 18px !important;
    }
  }
  @media (max-width: 629px) {
    .dialog-content {
      max-width: 650px;
      max-height: 100%;
      padding: 8px;
      border-radius: 18px 18px 0px 0px !important;
    }
  }
  @media (max-width: 600px) {
    .follow-button .my-icon,
    .edit-profile-button .my-icon {
      display: none;
    }
    .name-container {
      width: 45%;
    }
  }
  @media (max-width: 500px) {
    .name-container {
      max-width: 160px;
    }
  }
  @media (max-width: 440px) {
    .name-container {
      max-width: 90px;
    }
  }
  .q-dialog__inner {
    margin-top: 58px;
  }
  .dialog-content {
    height: 100%;
    width: 100%;
    transition:
      max-height 0.2s ease,
      margin 0.2s ease,
      transform 0.25s ease-out;
    border-bottom: none;
  }
  .dialog-content.expand {
    max-width: 650px;
    max-height: 100%;
    transition-delay: 0.05s;
    .profile-info {
      height: 0px;
      opacity: 0;
      margin: 0px;
    }
    .profile-categories {
      height: 0px;
      opacity: 0;
      padding: 0px;
      margin: 0px;
    }
  }
  .banner {
    padding: 0;
    box-shadow: none;
    background-color: var(--background-variant);
    width: 100%;
    height: 170px;
    -webkit-mask-image: radial-gradient(circle at 923px 170px, transparent 75px, black 61px);
    mask-image: radial-gradient(circle at 92px 170px, transparent 75px, black 76px);
    img {
      object-fit: cover;
    }
  }
  .profile-info {
    transition:
      height 0.3s ease-out,
      opacity 0.3s ease-out;
    transition-delay: 0.02s;
    height: 240px;
    position: relative;
  }
  .close {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    background-color: var(--background);
    .my-icon {
      @include iconSize(24);
      color: var(--on-background);
    }
  }
  .profile-inner {
    padding-top: 8px;
    height: 60px;
    display: flex;
    margin-bottom: 10px;
    .follow-button,
    .edit-profile-button {
      @include elevation(1);
      height: fit-content;
      align-self: center;
      margin-right: 8px;
    }
    .display-name {
      font-size: 20px;
      font-weight: 600;
      color: var(--on-card);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .username {
      font-size: 14px;
      font-weight: 400;
      color: var(--on-background-variant);
    }
    .avatar {
      @include elevation(2);
      --avatar-size: 120px;
      margin-left: 32px;
      margin-right: 16px;
      transform: translate(0, -68px);
      z-index: 2;
    }
  }

  .name-container {
    gap: 0px;
  }
  .profile-categories {
    height: 56px;
    transition:
      height 0.1s ease-out,
      opacity 0.1s ease-out;
    width: fit-content;
    align-self: center;
    .category-button {
      border-radius: 4px;
    }
  }
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    div {
      font-size: 16px;
      font-weight: 500;
    }
    .my-icon {
      @include iconSize(20);
      margin-right: 6px;
      font-weight: 500;
    }
  }
  .bio .text {
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
    overflow-wrap: anywhere;
  }
  .text {
    margin-left: 4px;
    margin-right: 4px;
  }
  .posts-infinite-scroll {
    z-index: 2;
  }
  .languages-container {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    .my-chip {
      margin: 0px;
      border-radius: 4px;
    }
  }
  .badges {
    .badge {
      outline: 1px solid var(--contrast-outline);
      background-color: var(--card-high);
      padding: 8px;
      border-radius: 6px;
    }
    .label {
      font-size: 15px;
      font-weight: 500;
    }
    .description {
      font-size: 14px;
      font-weight: 400;
      color: var(--on-background-variant);
    }
    .icon {
      @include iconSize(
        20,
        (
          "FILL": 1
        )
      );
    }
  }
  .social-activity {
    .horizontal-container {
      display: flex;
      flex-wrap: wrap;
    }
    .counter {
      flex: 1;
      display: flex;
      flex-direction: row;
      box-shadow: none;
      .my-icon {
        @include iconSize(20);
        margin-right: 8px;
      }
      .label {
        font-size: 14px;
      }
    }
  }
}

// User card styles
.user-card {
  align-items: center;
  .display-name {
    font-size: 14px;
    font-weight: 600;
    color: var(--on-card);
  }
  .username {
    font-size: 13px;
    font-weight: 400;
    color: var(--on-background-variant);
  }
  .name-container {
    gap: 0px;
    cursor: pointer;
    flex-grow: 1;
  }
  .avatar-container {
    min-width: 42px;
    min-height: 42px;
  }
  @media (max-width: 500px) {
    .follow-button .my-icon {
      display: none;
    }
  }
}

// Avatar
.avatar {
  --avatar-size: 42px;
  outline: 2px solid var(--contrast-outline);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;

  .avatar-content {
    color: var(--on-secondary);
    font-size: inherit;
    line-height: 1;
    font-size: calc(0.45 * var(--avatar-size));
  }

  &:not(:has(img)) {
    outline: 1px var(--on-secondary) solid;
    background-color: var(--secondary);
  }
}
