@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-35px);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(35px);
  }
}

.animation-fade-in-up {
  opacity: 0;
  animation: fadeInUp var(--anim-duration, 0.5s) ease forwards var(--anim-delay, 0ms);
}

.animation-fade-in-down {
  opacity: 0;
  animation: fadeInDown var(--anim-duration, 0.5s) ease forwards var(--anim-delay, 0ms);
}

.animation-fade-in {
  opacity: 0;
  animation: fadeIn var(--anim-duration, 0.5s) ease forwards var(--anim-delay, 0ms);
}

@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateFrom180To0 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fillActivate {
  from {
    font-variation-settings:
      "FILL" 0,
      "GRAD" var(--grad),
      "opsz" var(--opsz, 24);
  }
  to {
    font-variation-settings:
      "FILL" 1,
      "GRAD" var(--grad),
      "opsz" var(--opsz, 24);
  }
}

@keyframes fillDeactivate {
  from {
    font-variation-settings:
      "FILL" 1,
      "GRAD" var(--grad),
      "opsz" var(--opsz, 24);
  }
  to {
    font-variation-settings:
      "FILL" 0,
      "GRAD" var(--grad),
      "opsz" var(--opsz, 24);
  }
}

// Scale animation
.scale-enter-active,
.scale-leave-active {
  transition:
    transform 0.3s,
    opacity 0.3s;
  will-change: transform, opacity;
}

.scale-enter-from {
  transform: scale(0.9);
  opacity: 0;
}

.scale-leave-to {
  transform: scale(0.9);
  opacity: 0;
}

// Post Scroll animation
.post-scroll-enter-active {
  transition:
    opacity 0.2s ease-in 200ms,
    transform 0.2s ease-out 200ms;
  will-change: transform, opacity;
}
.post-scroll-leave-active {
  transition:
    opacity 0.2s ease-in,
    transform 0.2s ease-out;
  will-change: transform, opacity;
}
.post-scroll-enter-from {
  transform: translateY(35px);
  opacity: 0;
}
.post-scroll-enter-to {
  transform: translateY(0px);
  opacity: 1;
}
.post-scroll-leave-from {
  transform: translateY(0px);
  opacity: 1;
}
.post-scroll-leave-to {
  transform: translateY(-35px);
  opacity: 0;
}

// Notifications realtime list animations
.notification-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}
.notification-enter-active {
  transition: all 0.3s ease;
  will-change: transform, opacity;
}
.notification-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.notification-leave-from {
  opacity: 1;
  transform: translateY(-60px);
}
.notification-leave-active {
  transition: all 0.3s ease !important;
  will-change: transform, opacity;
}
.notification-leave-to {
  transform: translateY(0px);
  opacity: 0;
}
.notification-move {
  transition: all 0.3s ease !important;
}

@keyframes bgColorPulse {
  0% {
    background-color: var(--color-from);
  }
  50% {
    background-color: var(--color-to);
  }
  100% {
    background-color: var(--color-from);
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

// Cross fade animation
.crossfade-div {
  height: 100%;
  width: 100%;
  position: relative;
  > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.crossfade-enter-active,
.crossfade-leave-active {
  will-change: opacity;
}

.crossfade-enter-active {
  transition: opacity 0.2s ease-out;
}

.crossfade-leave-active {
  transition: opacity 0.2s ease-in;
}

.crossfade-enter-from,
.crossfade-leave-to {
  opacity: 0;
}

.crossfade-enter-to,
.crossfade-leave-from {
  opacity: 1;
}
