@import "mixins";

.default-button {
  border-radius: 8px;
  background-color: var(--primary);

  span,
  .loading {
    color: var(--on-primary);
  }
}

.secondary-button {
  border-radius: 8px;
  background-color: var(--secondary);

  span,
  .loading {
    color: var(--on-secondary);
  }
}

.outlined-button {
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid var(--primary);

  span,
  .loading {
    color: var(--primary);
  }
}

.card-button {
  border-radius: 8px;
  background-color: var(--card);
  min-height: 40px;
  > span {
    font-size: 15px;
    color: var(--on-card);
    display: flex;
    justify-content: flex-start;
  }
}

.card .card-button,
.menu-card .card-button {
  background-color: var(--card-high);
}

.category-button {
  @include bgColorTransition();
  will-change: background;

  > span {
    @include onlyColorTransition();
    will-change: color;
  }

  .q-icon {
    @include iconSize(24);
  }

  &.selected {
    background-color: var(--primary);
    > span {
      color: var(--on-primary);
      will-change: color;
    }
    .q-icon {
      animation: fillActivate var(--animate-duration) ease-out forwards;
    }
  }
}

.title-button {
  height: 36px;
  border-radius: 36px;
  padding-left: 4px;
  padding-right: 4px;
}
