@import "mixins";

.card {
  @include elevation(2);
  border-radius: 18px;
  padding: 8px;
  background-color: var(--card);
  outline: 1px solid var(--contrast-outline);

  > div {
    color: var(--on-card);
  }

  &:has(.card-section) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card-section {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    align-items: flex-start;
    &:first-child:not(:last-child) {
      margin-top: 8px;
    }
    &:last-child:not(:first-child) {
      margin-bottom: 8px;
    }
  }

  .card {
    box-shadow: none;
    border-radius: 8px;
    background-color: var(--card-high);
  }
}

.login-card,
.register-card {
  @include elevation(2);

  padding: 10px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 500px;

  .label-section {
    margin-left: 2px;
  }
}

.menu-card {
  @include elevation(1);
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  border-radius: 18px;
  padding: 8px;
  background-color: var(--card);

  width: 100%;
  max-width: 300px;

  > div {
    color: var(--on-card);
  }
}

.card-dialog {
  z-index: 1;
  .dialog-content {
    outline: 1px solid var(--contrast-outline);
    will-change: transform;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.25s ease-out;
    padding: 8px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
  }
  .card {
    border-radius: 10px;
    @include elevation(1);
  }
  .label-container {
    div {
      align-items: center;
      font-size: 15px;
      font-weight: 500;
    }
    .icon {
      padding-left: 8px;
      height: 22px;
      width: 22px;
    }
    .q-icon,
    .icon {
      @include iconSize(20);
    }
  }
}
