@import "mixins";

.card {
  @include elevation(1);
  border-radius: 16px;
  padding: 8px;
  background-color: var(--card);
  outline: 1px solid var(--contrast-outline);

  > div {
    color: var(--on-card);
  }

  &:has(.card-section) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card-section {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    align-items: flex-start;
    &:first-child:not(:last-child) {
      margin-top: 8px;
    }
    &:last-child:not(:first-child) {
      margin-bottom: 8px;
    }
  }

  .card {
    box-shadow: none;
    border-radius: 8px;
    background-color: var(--card-high);
  }
}

.login-card,
.register-card {
  @include elevation(2);

  padding: 10px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 500px;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-fill-mode: both;

  &:not(.is-exit) {
    animation-name: fadeInDown;
  }
  &.is-exit {
    animation-name: fadeOutUp;
  }

  .label-section {
    margin-left: 2px;
    display: flex;
    align-items: center;
    .my-icon {
      @include iconSize(24);
      margin-right: 8px;
    }
  }
}

.menu-card {
  @include elevation(1);
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  border-radius: 16px;
  padding: 8px;
  background-color: var(--card);
  box-sizing: border-box;

  width: 100%;
  max-width: 275px;

  > div {
    color: var(--on-card);
  }
  .card {
    box-shadow: none;
    border-radius: 8px;
    background-color: var(--card-high);
  }
}

.card-dialog {
  z-index: 1;
  .dialog-content {
    position: relative;
    outline: 1px solid var(--contrast-outline);
    border: 1px solid color-mix(in srgb, var(--outline) 13%, transparent 87%);
    will-change: transform;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.25s ease-out;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 590px) {
    &:not(:has(.dialog-content-inner)) .dialog-content {
      padding: 12px;
    }
    .dialog-content-inner {
      padding: 12px;
    }
  }
  @media (max-width: 589px) {
    &:not(:has(.dialog-content-inner)) .dialog-content {
      padding: 8px;
    }
    .dialog-content-inner {
      padding: 8px;
    }
  }

  .dialog-content-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  .card {
    border-radius: 10px;
    @include elevation(1);
  }

  &.with-sidebar {
    @media (min-width: 750px) {
      .dialog-content {
        max-width: 916px;
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 18px !important;
      }
      .q-dialog__inner {
        margin-top: 74px;
        margin-bottom: 16px;
      }
      .sidebar {
        max-width: 300px;
      }
    }
    @media (max-width: 749px) {
      .dialog-content {
        max-height: 100%;
        border-radius: 0px;
        border-radius: 18px 18px 0px 0px !important;
        border-bottom: none;
      }
      .q-dialog__inner {
        margin-top: 58px;
      }
      .sidebar,
      .view {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 8px;
      }
    }
    .dialog-content-inner {
      flex-direction: row;
    }
    .sidebar {
      width: 100%;
    }
    .dialog-content {
      height: 100%;
      width: 100%;
      padding: 0;
      transition:
        max-height 0.2s ease,
        margin 0.2s ease,
        transform 0.25s ease-out;
    }
    .card-button {
      @include elevation(1);
    }
  }

  .dialog-header {
    @include elevation(1);
    background-color: var(--card-high);
    color: var(--on-card);
    align-items: center;
    padding: 4px;
    height: 50px;
    z-index: 1;

    .label {
      font-size: 16px;
      font-weight: 500;
    }
    .my-icon {
      @include iconSize(20);
    }
    .label-container {
      align-items: center;
    }
    .header-icon {
      margin-left: 12px;
    }
  }

  .dialog-section {
    div {
      align-items: center;
      font-size: 15px;
      font-weight: 500;
    }
    .icon {
      padding-left: 8px;
      height: 22px;
      width: 22px;
    }
    .my-icon,
    .icon {
      @include iconSize(20);
    }
  }
}

body.touch {
  .dialog-header {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 35px;
      height: 4px;
      margin: 8px 0;
      border-radius: 2px;
      background-color: var(--on-background-variant);
      transition: opacity 0.25s ease;
      opacity: 0.3;
      z-index: 4;
    }

    &:active::after {
      opacity: 1;
    }
  }
  &:has(.dialog-content.swiping) .dialog-header::after {
    opacity: 1;
  }
}
