@import "mixins";

.login-card,
.register-card {
  @include colorTransition();
  @include elevation(2);
  border-radius: 18px;
  padding: 10px;
  background-color: var(--card);

  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 500px;

  .label-section {
    padding-bottom: 0px;
  }
  > div {
    color: var(--on-card);
  }
}

.card {
  @include colorTransition();
  @include elevation(2);
  border-radius: 18px;
  padding: 8px;
  background-color: var(--card);

  width: 100%;

  > div {
    color: var(--on-card);
  }
}

.menu-card {
  @include elevation(1);
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  border-radius: 18px;
  padding: 8px;
  background-color: var(--card);

  width: 100%;
  max-width: 300px;

  > div {
    color: var(--on-card);
  }
}
