.switch {
  user-select: none;
  position: relative;
  height: 28px;
  margin-right: 50px;
  -webkit-tap-highlight-color: transparent;

  span.slider {
    position: absolute;
    cursor: pointer;
    background-color: var(--background-variant);
    width: 48px;
    height: 28px;
    border-radius: 28px;
    border: 2px solid var(--outline);
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;

    will-change: background-color, border-color;
  }

  span.slider::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 0px;
    margin: 6px;
    background-color: var(--outline);
    border-radius: 28px;
    transition: left 175ms cubic-bezier(0, 0.5, 0.5, 1.5), background-color 0.1s ease-in-out, height 100ms ease-in-out,
      width 100ms ease-in-out, margin 100ms ease-in-out;

    will-change: left, width, height, margin, background-color;
  }

  &:hover span.slider::before {
    background-color: var(--on-background-variant);
  }

  &.active span.slider {
    background-color: var(--primary);
    border-color: transparent;
  }

  &.active span.slider::before {
    background-color: var(--on-primary);
    height: 20px;
    width: 20px;
    left: 20px;
    margin: 2px;
  }

  &.active:hover span.slider::before {
    background-color: color-mix(in srgb, var(--on-primary) 80%, var(--primary) 20%);
  }

  &:active span.slider::before {
    height: 24px;
    width: 24px;
    margin: 0px;
  }

  &.active:active span.slider::before {
    height: 24px;
    width: 24px;
    left: 20px;
    margin: 0px;
  }
}

.open-menu {
  will-change: transform;
  &.active {
    animation: rotateFrom180To0 0.2s ease-out forwards;
  }
  &:not(.active) {
    animation: rotate180 0.2s ease-out forwards;
  }
}

.avatar {
  background-color: var(--secondary);
  color: var(--on-secondary);
  align-items: center;
  justify-content: center;
  font-size: 3em;
  user-select: none;
  &:not(:has(img)) {
    outline: 1px var(--on-secondary) solid;
  }
}

.open-profile {
  padding-top: 8px;
  padding-bottom: 8px;
  .avatar {
    margin-right: 12px;
    font-weight: 400;
  }
  .label {
    font-weight: 500;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.dark-mode {
  display: flex;
  align-items: flex-start;
  .toggle-container {
    position: absolute;
    right: 0;
    margin-right: 16px;
  }
}

.post,
.comment {
  .q-card__section {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    padding-bottom: 0;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }

  .username {
    font-size: 1.3em;
    text-align: center;
  }

  .content {
    margin-top: 3px;
    font-size: 1em;
  }

  .actions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    &.can-animate {
      .button.active .q-icon {
        animation: fillActivate 0.1s ease-out forwards;
      }
    }
  }

  .action-container {
    @include colorTransition();
    display: flex;
    align-items: center;
    color: var(--on-card);
    border-radius: 25px;
    background-color: var(--card-high);
    height: 35px;
    width: fit-content;
  }

  .button .q-icon {
    @include iconSize(20);
  }

  .button {
    will-change: color;
    height: 100%;
    &:not(.circle) {
      min-width: 60px;
    }

    > span {
      font-size: 12px;

      > span {
        font-size: 13px;
      }
    }

    &.active {
      color: var(--primary);
      .q-icon {
        animation: fillActivate 0ms forwards;
      }
    }
  }

  .round-right {
    border-radius: 0px 25px 25px 0px;
  }
  .round-left {
    border-radius: 25px 0px 0px 25px;
  }
  .round {
    border-radius: 25px;
  }
  .circle {
    width: 35px;
    border-radius: 100%;
  }
}

.post {
  .tags {
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
  }
  .tag {
    .q-icon {
      @include iconSize(20);
    }
  }
}

.post-more-menu {
  padding-top: 8px;
  padding-bottom: 8px;
  .icon {
    @include iconSize(22);
  }
  .text {
    font-size: 14px;
    font-weight: 400;
    align-self: flex-end;
  }
  .horizontal-container {
    display: flex;
  }
  .separator {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.post-dialog {
  .q-dialog__inner {
    margin-top: 58px;
  }
  .dialog-content {
    height: 100%;
    width: 100%;
    max-width: 600px;
    border-radius: 18px 18px 0px 0px !important;
  }
  .send-comment {
    .q-card__section {
      padding: 2px;
      padding-left: 8px;
      padding-right: 8px;
    }
    .enter-comment {
      border-radius: 30px;
      min-height: 42px;
      background-color: var(--card-high);
      padding-left: 14px;
    }
    .send-button {
      .q-icon {
        @include iconSize(30);
      }
    }
  }
}

.posts-infinite-scroll {
  display: flex;
  flex-direction: column;
}

.user-dialog {
  @media (min-width: 630px) {
    .dialog-content {
      max-width: 650px;
      max-height: 750px;
      margin-left: 8px;
      margin-right: 8px;
      border-radius: 18px !important;
    }
  }
  @media (max-width: 629px) {
    .dialog-content {
      max-width: 650px;
      max-height: 100%;
      padding: 8px;
      border-radius: 18px 18px 0px 0px !important;
    }
  }
  @media (max-width: 600px) {
    .follow-button .q-icon {
      display: none;
    }
    .name-container {
      width: 45%;
    }
  }
  @media (max-width: 500px) {
    .name-container {
      max-width: 160px;
    }
  }
  @media (max-width: 440px) {
    .name-container {
      max-width: 90px;
    }
  }
  .q-dialog__inner {
    margin-top: 66px;
  }
  .dialog-content {
    height: 100%;
    width: 100%;
    transition: max-height 0.2s ease, margin 0.2s ease, transform 0.25s ease-out;
  }
  .dialog-content.expand {
    max-width: 650px;
    max-height: 100%;
    transition-delay: 0.05s;
    .profile-info {
      height: 0px;
      opacity: 0;
      margin: 0px;
    }
    .profile-categories {
      height: 0px;
      opacity: 0;
      padding: 0px;
      margin: 0px;
    }
  }
  .banner {
    box-shadow: none;
    background-color: var(--background-variant);
    width: 100%;
    height: 170px;
    -webkit-mask-image: radial-gradient(circle at 923px 170px, transparent 75px, black 61px);
    mask-image: radial-gradient(circle at 92px 170px, transparent 75px, black 76px);
  }
  .profile-info {
    transition: height 0.3s ease-out, opacity 0.3s ease-out;
    transition-delay: 0.02s;
    height: 240px;
    position: relative;
  }
  .close {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    background-color: var(--background-color);
    .q-icon {
      @include iconSize(24);
      color: var(--text);
    }
  }
  .profile-inner {
    padding-top: 8px;
    height: 60px;
    display: flex;
    margin-bottom: 10px;
    .follow-button {
      @include elevation(1);
      height: fit-content;
      align-self: center;
      margin-right: 8px;
    }
    .display-name {
      font-size: 20px;
      font-weight: 600;
      color: var(--on-card);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .username {
      font-size: 14px;
      font-weight: 400;
      color: var(--on-background-variant);
    }
    .avatar {
      @include elevation(2);
      margin-left: 32px;
      margin-right: 16px;
      transform: translate(0, -68px);
      z-index: 2;
      height: 120px;
      width: 120px;
      font-size: 100px;
    }
  }

  .name-container {
    gap: 0px;
  }
  .profile-categories {
    height: 56px;
    transition: height 0.1s ease-out, opacity 0.1s ease-out;
    width: fit-content;
    align-self: center;
    .category-button {
      border-radius: 4px;
    }
  }
  .header {
    display: flex;
    align-items: center;
    div {
      font-size: 15px;
      font-weight: 500;
    }
    .q-icon {
      @include iconSize(18);
      margin-right: 3px;
      font-weight: 500;
    }
  }
  .bio .text {
    font-size: 14px;
    font-weight: 400;
  }
  .posts-infinite-scroll {
    z-index: 2;
  }
  .languages-container {
    gap: 8px;
    display: flex;
    .q-chip {
      margin: 0px;
      border-radius: 4px;
    }
  }
  .badges {
    .badge {
      background-color: var(--card-high);
      padding: 8px;
      border-radius: 6px;
    }
    .label {
      font-size: 15px;
      font-weight: 500;
    }
    .description {
      font-size: 14px;
      font-weight: 400;
      color: var(--on-background-variant);
    }
    .icon {
      @include iconSize(
        20,
        (
          "FILL": 1
        )
      );
    }
  }
  .q-separator {
    margin-bottom: 8px;
  }
}

.create-post-dialog {
  @media (min-width: 590px) {
    .dialog-content {
      max-width: 600px;
      max-height: 600px;
      margin-left: 8px;
      margin-right: 8px;
      border-radius: 18px !important;
    }
  }
  @media (max-width: 589px) {
    .dialog-content {
      max-height: 100%;
      border-radius: 18px 18px 0px 0px !important;
    }
  }
  .q-dialog__inner {
    margin-top: 58px;
  }
  .q-scrollarea__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .dialog-content {
    padding: 0;
    height: 100%;
    width: 100%;
    transition: max-height 0.2s ease, margin 0.2s ease;
  }
  .dialog-content-inner {
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: 100%;
    position: relative;
  }
  .post-text {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid transparent;
    transition: border-color 0.2s ease-out;
    will-change: border-color;
    &.q-field--focused {
      border-color: var(--primary);
    }
  }
  .tags-container {
    padding-left: 16px;
    padding-right: 16px;
    .label {
      font-size: 15px;
      font-weight: 500;
    }
    .icon {
      @include iconSize(20);
      font-weight: 400;
      height: 22px;
      width: 22px;
    }
    .chips {
      margin-left: -8px;
      margin-right: -8px;
    }
  }
  .toggle-value {
    > div {
      align-items: center;
      padding-left: 8px;
      padding-right: 8px;
    }
    .container {
      gap: 0px;
    }
    .label {
      font-size: 15px;
      font-weight: 500;
    }
    .description {
      font-size: 14px;
      font-weight: 400;
      color: var(--on-background-variant);
    }
    .icon {
      height: 24px;
      width: 24px;
    }
    .q-icon,
    .icon {
      @include iconSize(24);
    }
  }
  .send-container {
    display: flex;
    justify-content: flex-end;
  }
}
.enter-tag-menu {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  &:has(.q-field--focused) {
    outline-color: var(--primary);
  }
}

.profile-menu {
  .q-icon {
    @include iconSize(24);
  }
}

.profile-menu-component {
  .label {
    font-size: 14px;
    font-weight: 500;
  }
  .username {
    font-size: 12px;
    font-weight: 400;
  }
}

.my-activity-dialog {
  @media (min-width: 750px) {
    .dialog-content {
      max-width: 916px;
      margin-left: 8px;
      margin-right: 8px;
      border-radius: 18px !important;
    }
    .q-dialog__inner {
      margin-top: 74px;
      margin-bottom: 16px;
    }
    .sidebar {
      max-width: 300px;
    }
  }
  @media (max-width: 749px) {
    .dialog-content {
      max-height: 100%;
      border-radius: 0px;
    }
    .q-dialog__inner {
      margin-top: 50px;
    }
    .sidebar,
    .view {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 8px;
    }
  }
  .sidebar {
    width: 100%;
  }
  .dialog-content {
    height: 100%;
    width: 100%;
    padding: 0;
    transition: max-height 0.2s ease, margin 0.2s ease;
  }
  .dialog-content-inner {
    padding: 8px;
    height: 100%;
    position: relative;
  }
  .card-button {
    @include elevation(1);
  }
}

.card-dialog-header {
  @include elevation(1);
  background-color: var(--card);
  color: var(--on-card);
  align-items: center;
  padding: 4px;
  height: 50px;

  .label {
    font-size: 16px;
    font-weight: 500;
  }
  .q-icon {
    @include iconSize(20);
  }
  .label-container {
    align-items: center;
  }
  .header-icon {
    margin-left: 12px;
  }
}

.scroll-header {
  transform: translate3d(0, -150%, 0);
  transition: transform 0.3s ease, visibility 0s 0.3s linear;

  &.is-visible {
    transform: translate3d(0, 0, 0);
  }
}

.user-card {
  align-items: center;
  .display-name {
    font-size: 14px;
    font-weight: 600;
    color: var(--on-card);
  }
  .username {
    font-size: 13px;
    font-weight: 400;
    color: var(--on-background-variant);
  }
  .name-container {
    gap: 0px;
    cursor: pointer;
    flex-grow: 1;
  }
  @media (max-width: 500px) {
    .follow-button .q-icon {
      display: none;
    }
  }
}
