.switch {
  user-select: none;
  position: relative;
  height: 28px;
  margin-right: 50px;
  -webkit-tap-highlight-color: transparent;

  span.slider {
    position: absolute;
    cursor: pointer;
    background-color: var(--background-variant);
    width: 48px;
    height: 28px;
    border-radius: 28px;
    border: 2px solid var(--outline);
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  }

  span.slider::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 0px;
    margin: 6px;
    background-color: var(--outline);
    border-radius: 28px;
    transition: left 175ms cubic-bezier(0, 0.5, 0.5, 1.5), background-color 0.1s ease-in-out, height 100ms ease-in-out,
      width 100ms ease-in-out, margin 100ms ease-in-out;
  }

  &:hover span.slider::before {
    background-color: var(--on-background-variant);
  }

  &.active span.slider {
    background-color: var(--primary);
    border-color: transparent;
  }

  &.active span.slider::before {
    background-color: var(--on-primary);
    height: 20px;
    width: 20px;
    left: 20px;
    margin: 2px;
  }

  &.active:hover span.slider::before {
    background-color: color-mix(in srgb, var(--on-primary) 80%, var(--primary) 20%);
  }

  &:active span.slider::before {
    height: 24px;
    width: 24px;
    margin: 0px;
  }

  &.active:active span.slider::before {
    height: 24px;
    width: 24px;
    left: 20px;
    margin: 0px;
  }
}

.open-menu {
  &.active {
    animation: rotateFrom180To10 0.2s ease-out forwards;
  }
  &:not(.active) {
    animation: rotate180 0.2s ease-out forwards;
  }
}

.avatar {
  @include colorTransition();
  background-color: var(--secondary);
  color: var(--on-secondary);
  align-items: center;
  justify-content: center;
  font-size: 3em;
  user-select: none;
}

.open-profile {
  padding-top: 8px;
  padding-bottom: 8px;
  .avatar {
    margin-right: 12px;
    font-weight: 400;
  }
  .label {
    font-weight: 500;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.dark-mode {
  display: flex;
  align-items: flex-start;
  .toggle-container {
    position: absolute;
    right: 0;
    margin-right: 16px;
  }
}

.post,
.comment {
  @include bgColorTransition();
  @media (hover: hover) {
    &:hover {
      background-color: var(--card-hover);
    }
  }
  @media (hover: none) {
    &:active {
      background-color: var(--card-hover);
    }
  }
  .q-card__section {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    padding-bottom: 0;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }

  .username {
    @include onlyColorTransition();
    font-size: 1.3em;
    text-align: center;
  }

  .content {
    @include onlyColorTransition();
    margin-top: 3px;
    font-size: 1em;
  }

  .actions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
  }

  .action-container {
    @include bgColorTransition();
    display: flex;
    align-items: center;
    color: var(--on-card);
    border-radius: 25px;
    background-color: var(--card-high);
    height: 35px;
    width: fit-content;
  }

  .button {
    @include colorTransition();
    height: 100%;
    min-width: 60px;

    > span {
      font-size: 12px;

      > span {
        font-size: 13px;
      }
    }

    &.active {
      color: var(--primary);
      font-variation-settings: "FILL" 1;
    }
  }

  .round-right {
    border-radius: 0px 25px 25px 0px;
  }
  .round-left {
    border-radius: 25px 0px 0px 25px;
  }
  .round {
    border-radius: 25px;
  }
}

.post-dialog {
  z-index: 1;
  .q-dialog__inner {
    margin-top: 58px;
  }
  .dialog-content {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transition: border-color 0.25s ease, transform 0.25s ease-out;
    height: 100%;
    width: 100%;
    padding: 8px;
    max-width: 600px;
    background-color: var(--background-color);
    border-radius: 18px 18px 0px 0px !important;
    display: flex;
    flex-direction: column;
  }
  .card {
    border-radius: 10px;
  }
  .scroll-area {
    flex: 1;
    margin-right: -8px;
    margin-left: -8px;
  }
  .q-scrollarea__content {
    padding-left: 8px;
    padding-right: 8px;
  }
  .label-container {
    div {
      font-size: 15px;
      font-weight: 500;
    }
    .icon {
      padding-left: 8px;
      height: 22px;
      width: 22px;
    }
    .q-icon,
    .icon {
      font-size: 20px;
    }
  }
  .send-comment {
    .q-card__section {
      padding: 2px;
      padding-left: 8px;
      padding-right: 8px;
    }
    .enter-comment {
      border-radius: 30px;
      min-height: 42px;
      background-color: var(--card-high);
      padding-left: 14px;
    }
    .send-button {
      .q-icon {
        font-size: 30px;
      }
    }
  }
}
