@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-fade-in-up {
  animation: fadeInUp 0.5s ease forwards;
}

.animation-fade-in-down {
  animation: fadeInDown 0.5s ease forwards;
}

@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateFrom180To10 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fillActivate {
  from {
    font-variation-settings: "FILL" 0;
  }
  to {
    font-variation-settings: "FILL" 1;
  }
}

@keyframes fillDeactivate {
  from {
    font-variation-settings: "FILL" 1;
  }
  to {
    font-variation-settings: "FILL" 0;
  }
}
