.webkit-drag {
  -webkit-app-region: drag;
}

.webkit-no-drag {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  display: none;
}

.wrap-text {
  word-break: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.horizontal-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  &.align-end {
    align-items: flex-end;
  }
}
