.webkit-drag {
  -webkit-app-region: drag;
}

.webkit-no-drag {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  display: none;
}

.wrap-text {
  word-break: break-word;
}

.container {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  gap: 8px;
}
