.webkit-drag {
  -webkit-app-region: drag;
}

.webkit-no-drag {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  display: none;
}

.wrap-text {
  word-break: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.horizontal-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  &.align-end {
    align-items: flex-end;
  }
}

.fix-scroll-area {
  flex: 1;
  margin: calc(var(--fix-padding, 8px) * -1);
  .q-scrollarea__content {
    padding: var(--fix-padding, 8px);
  }
}

.align-center {
  align-items: center;
}

html,
body {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
