@import "variables";

@mixin elevation($level, $element: "self") {
  $offset: map-get($elevation-levels, $level);

  @if $offset {
    @if $element == "self" {
      box-shadow:
        0 -1px 2px rgba(0, 0, 0, 0.1),
        0 1px 2px rgba(0, 0, 0, 0.2),
        0 $offset $offset rgba(0, 0, 0, 0.14),
        0 ($offset * 2) ($offset * 2) rgba(0, 0, 0, 0.12);
    } @else if $element == "before" or $element == "after" {
      position: relative;
      &::#{$element} {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow:
          0 -1px 2px rgba(0, 0, 0, 0.1),
          0 1px 2px rgba(0, 0, 0, 0.2),
          0 $offset $offset rgba(0, 0, 0, 0.14),
          0 ($offset * 2) ($offset * 2) rgba(0, 0, 0, 0.12);
        z-index: -1;
      }
    }
  } @else {
    box-shadow: none;
  }
}

@mixin colorTransition() {
  transition:
    background-color var(--animate-duration) ease-in-out,
    color var(--animate-duration) ease-in-out;
}

@mixin bgColorTransition() {
  transition: background-color var(--animate-duration) ease-in-out;
}

@mixin onlyColorTransition() {
  transition: color var(--animate-duration) ease-in-out;
}

@mixin iconSize($size, $additional-settings: ()) {
  $opsz-size: max(20, min($size, 48));
  font-size: $size * 1px;

  --opsz: #{$opsz-size};
  $settings: '"opsz" #{$opsz-size}';

  @each $key, $value in $additional-settings {
    $settings:
      #{$settings},
      '"#{$key}"' #{$value};
  }

  body.body--light &,
  body.body--dark & {
    font-variation-settings:
      #{$settings},
      "GRAD" var(--grad);
  }
}
