.body--light {
  --background-color: #fffbf6;
  --text: #000000;

  --card: #fff6ec;
  --on-card: #000000;

  --primary: #ff8061;
  --on-primary: #fffbf6;

  --secondary: #fd7555;
  --on-secondary: #fffbf6;

  --toolbar: #ff8061;
  --on-toolbar: #fffbf6;
}

.body--dark {
  --background-color: #2f2c29;
  --text: #ffffff;

  --card: #3d3935;
  --on-card: #ffffff;

  --primary: #fda999;
  --on-primary: #2e1700;

  --secondary: #fe9682;
  --on-secondary: #2e1700;

  --toolbar: #fda999;
  --on-toolbar: #2e1700;
}

.body--dark,
.body--light {
  --q-primary: var(--primary);
  --q-secondary: var(--secondary);
  background: var(--background-color) !important;
}

.q-header {
  background-color: var(--toolbar);

  div {
    color: var(--on-toolbar);
    user-select: none;
  }
  span {
    color: var(--on-toolbar);
  }
  .icon {
    width: 30px;
    height: 30px;
    color: var(--on-toolbar);
    &.animated {
      animation: pulse 0.5s ease-in-out;
    }
  }
}

.post {
  .q-card__section {
    display: flex;
    align-items: flex-start;
  }

  .avatar {
    background-color: var(--secondary);
    color: var(--on-secondary);
    align-items: center;
    justify-content: center;
    font-size: 3em;
    user-select: none;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }

  .username {
    font-size: 1.3em;
    text-align: center;
  }

  .content {
    margin-top: 3px;
    font-size: 1em;
  }
}

.posts-infinite-scroll {
  width: 100%;
  max-width: 600px;
}

.loading {
  color: var(--primary);
}

.app-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100hv;
  gap: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
