.body--light,
.body--dark {
  --background-color: #fffbf6;
  --text: #000000;
  --card: #fff6ec;
  --card-high: #f5e8d9;
  --on-card: #000000;
  --primary: #ff8061;
  --on-primary: #fffbf6;
  --secondary: #fd7555;
  --on-secondary: #fffbf6;
  --toolbar: #ff8061;
  --on-toolbar: #fffbf6;

  --q-primary: var(--primary);
  --q-secondary: var(--secondary);
  background: var(--background-color) !important;
}

.body--dark {
  --background-color: #2f2c29;
  --text: #ffffff;
  --card: #3d3935;
  --card-high: #49433e;
  --on-card: #ffffff;
  --primary: #fda999;
  --on-primary: #2e1700;
  --secondary: #fe9682;
  --on-secondary: #2e1700;
  --toolbar: #fda999;
  --on-toolbar: #2e1700;
}

.q-header {
  background-color: var(--toolbar);

  div {
    user-select: none;
  }

  span,
  div,
  .icon {
    color: var(--on-toolbar);
  }

  .icon {
    width: 30px;
    height: 30px;
    &.animated {
      animation: pulse 0.5s ease-in-out;
    }
  }
}

.avatar {
  background-color: var(--secondary);
  color: var(--on-secondary);
  align-items: center;
  justify-content: center;
  font-size: 3em;
  user-select: none;
}

.open-profile {
  padding-top: 8px;
  padding-bottom: 8px;
  .avatar {
    margin-right: 12px;
    font-weight: 400;
  }
  .label {
    font-weight: 500;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.post {
  .q-card__section {
    display: flex;
    align-items: flex-start;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }

  .username {
    font-size: 1.3em;
    text-align: center;
  }

  .content {
    margin-top: 3px;
    font-size: 1em;
  }
}

.loading {
  color: var(--primary);
}

.app-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50vh;
  padding: 8px;

  .categories,
  .profile-menu {
    width: 100%;
    max-width: 350px;
    height: fit-content;

    .container {
      display: grid;
      align-items: start;
      grid-template-columns: 1fr;
      gap: 8px;
    }
  }

  .dark-mode {
    display: flex;
    align-items: flex-start;
    .q-toggle {
      position: absolute;
      right: 0;
      margin-right: 6px;
    }
  }

  .center-column .q-infinite-scroll {
    padding-left: 8px;
    padding-right: 8px;
  }

  .left-column {
    justify-content: flex-end;
  }

  .right-column {
    justify-content: flex-start;
  }

  @media (min-width: 1308px) {
    .left-column,
    .right-column,
    .center-column {
      flex: 1;
      display: flex;
      height: 100%;
    }
    .center-column {
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
      min-width: 550px;
    }
  }
  @media (max-width: 1307px) {
    .left-column,
    .center-column {
      display: flex;
      justify-content: center;
      height: 100%;
      flex-shrink: 0;
    }
    .center-column {
      width: 100%;
      max-width: 600px;
    }
  }
  @media (min-width: 967px) {
    .left-column {
      width: 350px;
    }
  }
  @media (max-width: 966px) {
    .left-column {
      flex-grow: 1;
      flex-shrink: 0;
      width: none;
    }
  }
}

.scroll-area .q-scrollarea__thumb {
  background: var(--secondary);
  border-radius: 16px;
  width: 4px;
  height: 4px;
  opacity: 0.25;
}
