:root {
  color-scheme: light dark;
}

body {
  --toolbar: var(--primary);
  --on-toolbar: var(--on-primary);

  --toolbar-alt: var(--card);
  --on-toolbar-alt: var(--on-card);

  --q-primary: var(--primary);
  --q-secondary: var(--secondary);

  --error: hsl(0, 96%, 80%);
  --on-error: hsl(0, 96%, 10%);

  background: var(--background) !important;
}

.body--dark {
  --grad: -25;
}

.body--light {
  --grad: 0;
}

body.no-animate * {
  transition: none !important;
}

body {
  height: 100vh;
  width: 100vw;
}

.index-10000 {
  z-index: 10000;
}

.index-10 {
  z-index: 10;
}

.q-header {
  background-color: var(--toolbar);

  div {
    user-select: none;
  }

  span,
  div,
  .my-icon,
  .icon {
    color: var(--on-toolbar);
  }

  .icon {
    width: 30px;
    height: 30px;
    &.animated {
      animation: pulse 0.5s ease-in-out;
    }
  }

  .my-button .my-icon {
    @include iconSize(24);
  }

  .title {
    font-size: 21px;
    min-width: 1px;
    max-width: 100%;
    font-weight: normal;
    letter-spacing: 0.01em;
    user-select: none;
  }
  .title:not(.in-button) {
    padding-left: 12px;
  }
  .title-button {
    margin-left: 8px;
  }
}

.loading {
  color: var(--primary);
}

.q-page-container {
  height: 100vh;
}

.app-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8px;
  box-sizing: border-box;

  .notifications-list {
    overflow: hidden;
    min-height: 397px;
    cursor: pointer;
    .label-container {
      align-items: center;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 6px;
      padding-bottom: 6px;
      .icon {
        @include iconSize(20);
        font-weight: 500;
      }
      .my-button {
        min-height: 30px;
        min-width: 30px;
      }
      .my-button .my-icon {
        @include iconSize(20);
      }
      .label {
        font-size: 15px;
        font-weight: 400;
        user-select: none;
      }
    }
  }

  .profile-menu {
    min-height: 275px;
  }

  .categories,
  .right-column-content {
    width: 100%;
    max-width: 350px;
    height: fit-content;
  }

  .virtual-scroll {
    padding: 8px;
  }

  .center-column {
    height: initial;
    margin-bottom: -8px;
    margin-top: -8px;
  }

  .left-column {
    padding-left: 8px;
    justify-content: flex-end;
    min-width: 0;
  }

  .right-column {
    justify-content: flex-start;
    padding-right: 8px;
    min-width: 0;
  }

  .sticky-label {
    z-index: 1;
    background-color: transparent;
  }

  .categories-label {
    @include elevation(1);
    z-index: 1;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 18px;
    transition: border-radius 0.1s ease;
    @media (min-width: 601px) {
      &.scrolled {
        border-radius: 18px 18px 4px 4px;
      }
    }

    .categories-button {
      width: fit-content;
      border-radius: 10px;
      color: var(--on-card);
    }
    .reload-button {
      margin-right: 8px;
      min-width: 36px;
      min-height: 36px;
      max-height: 36px;
      max-width: 36px;
      .my-icon {
        @include iconSize(22);
        color: var(--on-card);
      }
    }
  }

  @media (min-width: 1200px) {
    .left-column,
    .right-column,
    .center-column {
      flex: 1;
      display: flex;
      height: 100%;
    }
    .center-column {
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
      min-width: 550px;
    }
  }
  @media (max-width: 1200px) {
    .left-column,
    .right-column,
    .center-column {
      display: flex;
      justify-content: center;
      height: 100%;
      flex-shrink: 0;
    }
    .center-column {
      width: 100%;
      max-width: 600px;
    }
  }
  @media (min-width: 967px) {
    .right-column,
    .left-column {
      width: 350px;
    }
  }
  @media (max-width: 966px) {
    .center-column {
      flex: 999;
    }
    .right-column,
    .left-column {
      max-width: 350px;
      flex: 1;
      flex-shrink: 1;
      width: auto;
    }
  }
  @media (max-width: 600px) {
    .categories-label {
      margin: 0;
      border-radius: 0;
    }
  }
}

.notifications-menu {
  width: 100%;
  max-width: 342px !important;
}

.pull-to-refresh .q-pull-to-refresh__puller {
  color: var(--on-tertiary);
  background-color: var(--tertiary);
}

.scroll-area .q-scrollarea__thumb {
  background: var(--secondary);
  border-radius: 16px;
  width: 4px;
  height: 4px;
  opacity: 0.25;
  z-index: 2;
}

.offline-dialog {
  height: 100vh;

  .layout {
    @include bgColorTransition();
    background-color: var(--background);
  }

  .q-page-container {
    height: 100%;
  }
}

.startup-page,
.offline-dialog {
  .logo svg {
    height: 128px;
    width: 128px;
    color: var(--primary);
    animation: pulse 2s ease-in-out infinite;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .label {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    bottom: 0%;
    text-align: center;
    position: absolute;
    user-select: none;
    color: var(--on-background);
  }

  .logo-container {
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.q-layout:has(.startup-page) .q-header .my-button {
  opacity: 0;
  animation: fadeIn 0.25s ease-out forwards;
  animation-delay: 0.5s;
}

.startup-page {
  .logo svg {
    opacity: 0;

    animation:
      fadeIn 0.5s ease-out forwards,
      pulse 2s ease-in-out infinite;
    animation-delay: 1s, 1.5s;
  }

  .label {
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
  }
}

.sticky-label {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-left: -1px;
  margin-right: -1px;
}

blockquote {
  border-left: 4px solid var(--outline);
  color: var(--on-background-variant);
  margin: 0px;
  padding: 0px;
  padding-left: 8px;
}

mark {
  outline: 1px solid var(--contrast-outline);
  background-color: var(--tertiary);
  color: var(--on-tertiary);
  padding: 1px;
  border-radius: 2px;
}

.link {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link:hover {
  text-decoration: underline;
}

.emoji {
  font-family: "NotoColorEmoji", sans-serif;
}
