$elevation-levels: (
  0: 0px,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 6px,
  5: 8px,
  6: 12px,
  7: 16px,
  8: 24px
);

@mixin elevation($level) {
  $offset: map-get($elevation-levels, $level);

  @if $offset {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 $offset $offset rgba(0, 0, 0, 0.14),
      0 ($offset * 2) ($offset * 2) rgba(0, 0, 0, 0.12) !important;
  } @else {
    box-shadow: none !important;
  }
}

.body--light {
  --background-color: #fffbf6;
  --card: #fff6ec;
  --on-card: #000000;
  --button: #fda999;
  --on-button: #2e1700;
  --toolbar: #ffc072;
  --on-toolbar: #281701;

  background-color: var(--background-color) !important;
}

.body--dark {
  --background-color: #2f2c29;
  --card: #3d3935;
  --on-card: #ffffff;
  --button: #fda999;
  --on-button: #2e1700;
  --toolbar: #ffc072;
  --on-toolbar: #281701;

  background-color: var(--background-color) !important;
}

.q-header {
  background-color: var(--toolbar) !important;

  .q-layout__shadow,
  .q-layout__shadow::after {
    display: none;
  }

  div {
    color: var(--on-toolbar) !important;
  }
  span {
    color: var(--on-toolbar) !important;
  }
}

.register-card {
  @include elevation(2);
  border-radius: 15px;
  padding: 10px;
  background-color: var(--card);

  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 500px;

  .label-section {
    padding-bottom: 0px;
  }
}

.default-button {
  border-radius: 10px;
  background-color: var(--button) !important;
  span {
    color: var(--on-button) !important;
  }
  &::before {
    box-shadow: none !important;
  }
}
