@import "components/skeleton";
@import "misc";
@import "variables";
@import "mixins";
@import "buttons";
@import "cards";
@import "animations";
@import "styles";
@import "components/quasar";
@import "components/misc";
@import "components/settings";
@import "components/notifications";
@import "components/switch";
@import "components/users";
@import "components/posts";
@import "components/item";
@import "components/chip";
@import "components/player";
@import "components/image";
@import "components/carousel";

@font-face {
  font-family: "NotoColorEmoji";
  font-style: normal;
  src: url("./fonts/NotoColorEmoji-Regular.ttf") format("truetype");
}
