@import "variables";
@import "mixins";
@import "styles";
@import "buttons";
@import "cards";
@import "keyframes";
@import "components";
@import "misc";

@font-face {
  font-family: "NotoColorEmoji";
  font-style: normal;
  src: url("./fonts/NotoColorEmoji-Regular.ttf") format("truetype");
}
